<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Application</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% stylesheets
        '@EmberBundle/Resources/public/dist/assets/vendor.css'
        '@EmberBundle/Resources/public/dist/assets/application.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel='icon' type='image/x-icon' href='{{ asset('favicon.ico') }}' />
</head>
<body>

{% javascripts
    '@EmberBundle/Resources/public/dist/assets/vendor.js'
    '@EmberBundle/Resources/public/dist/assets/application.js'
     %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
