<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Application Tests</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/" />

    {% stylesheets
        '@EmberBundle/Resources/public/dist/assets/vendor.css'
        '@EmberBundle/Resources/public/dist/assets/application.css'
        '@EmberBundle/Resources/public/dist/assets/test-support.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

</head>
<body>

<div id="qunit"></div>
<div id="qunit-fixture"></div>

<div id="ember-testing-container">
    <div id="ember-testing"></div>
</div>

{% javascripts '@EmberBundle/Resources/public/dist/testem.js' %}
    <script src="{{ asset_url }}" integrity=""></script>
{% endjavascripts %}

{% javascripts
    '@EmberBundle/Resources/public/dist/assets/vendor.js'
    '@EmberBundle/Resources/public/dist/assets/test-support.js'
    '@EmberBundle/Resources/public/dist/assets/application.js'
    '@EmberBundle/Resources/public/dist/assets/tests.js'
    '@EmberBundle/Resources/public/dist/assets/test-loader.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>Ember.assert('The tests file was not loaded. Make sure your tests index.html includes "assets/tests.js".', EmberENV.TESTS_FILE_LOADED);</script>

</body>
</html>
