<h2 id="title">Welcome to Ember + Symfony</h2>

<nav>
    {{#link-to "index"}}Home{{/link-to}}
    {{#link-to "categories"}}Categories{{/link-to}}
    {{#link-to "products"}}Products{{/link-to}}
</nav>

{{outlet}}
